h1 {
  font-family: "Roboto" !important;
  font-weight:300 !important;
  color: white !important;
}
h2 {
  font-family: "Roboto" !important;
  font-weight:300!important;
  color: #0F172A;
}
h3 {
  font-family: "Roboto" !important;
  font-weight:300!important;
  color: #0F172A;
}
h4 {
  font-family: "Roboto" !important;

  color: #0F172A!important;
}
h5 {
  font-family: "Roboto" !important;
  color: #0F172A!important;
}
h6 {
  font-family: "Roboto" !important;
  color: #0F172A!important;
}

p {
  font-family: "Roboto" !important;
  color: #0F172A ;
}

.floating-emojis {
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  pointer-events: none;
  z-index: 0;
}

.floating-emojis .emoji {
  position: absolute;
  font-size: 2.5rem;
  opacity: 0.7;
  animation: float 16s infinite linear;
}

@keyframes float {
  0%   { transform: translateY(100vh) scale(1); opacity: 0.7; }
  100% { transform: translateY(-10vh) scale(1.2); opacity: 0.2; }
}


.container {
  display: flex;
  height: 100%;
  width: 100%;
}

body {
  background-color: #153462;
}

.dashboard_nav {

  height: 120px;
  background-color: transparent;
  display: flex;
  align-items: center;
  h1 {
    margin-left: 24px;
  }
}


.dash_icons {
  position: absolute;
  right: 35px;
  display: flex;
  justify-content: space-evenly;
  width: 280px;
  font-size: 32px;
  color: white;
}

.dash_search {
  display: flex;
  background-color: white;
  height: 65px;
  margin-left: 304px;
  width: 380px;
  border-radius: 16px;
  i {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 22px;
  }
  p {
    margin-top: 22px;
  }
}

.stats {
  margin-left: 280px;
  width: calc(100% - 280px);
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.stat_card {
  width: 240px;
  height: 190px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 0.5px black;

  h4 {
    margin-bottom: 44px;

  }
}

.new-card-style {
  border-radius: 10px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  border: none !important;
  text-align: center;
}

.pencil {
  color: #2196F3;
}

.trash{
  color: #F44336;
}



.task.new-card-style {
  border: none !important;
  text-align: center;
  background-color: white;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s;
  cursor: pointer;
  border-radius: 10px !important;
}

.task.new-card-style:hover {
  border: none !important;
  text-align: center;
  background-color: white;
  transform: translateY(-1.8px) scale(1);
  box-shadow: 0 8px 24px rgba(0,0,0,0.12), 0 1.5px 4px rgba(0,0,0,0.12);
  border-radius: 10px !important;
}

.page.new-card-style {
  border: none !important;
  text-align: center;
  background-color: white;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s;
  cursor: pointer;
  border-radius: 10px !important;
}


.heading {
  h1 {
    font-family: "Roboto" !important;
    font-weight: 700 !important;
    color: white !important;
    font-size: 62px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page.new-card-style:hover {
  border: none !important;
  text-align: center;
  background-color: #ED6A5A;
  transform: translateY(-1.5px) scale(1);
  box-shadow: 0 8px 24px rgba(0,0,0,0.12), 0 1.5px 4px rgba(0,0,0,0.12);
  border-radius: 10px !important;
}

.dashboard-links {
  text-decoration: none;
  color: black;
}

.recent_tasks {
  margin-top: 24px;
  margin-left: 280px;
  width: calc(100% - 280px);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  color: white;
  i {
    margin-left: 28px;
    font-size: 24px ;
  }

  h3 {
    color:  white;
  }

  h2 {
    color: white;
  }

  .add_task {
  position: absolute;
  right: 85px;
  display: flex;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  background-color:#ED6A5A;
  border-radius: 8px;
  border: solid 0.5px black;
  }
  * {
    margin: 0;
    padding: 8px;
    line-height: 1; // helps with vertical alignment
  }
}

.tasks {
  width: 100% ;
  margin-left: 280px;
  width: calc(100% - 280px - 112px);
  height: 80px;
  margin-right: 85px;

}

.task {
  width: 100%;
  height: 185px;
  background-color: white;
  margin-left: 28px;
  margin-right: 85px;
  margin-top: 24px;
  border-radius: 8px;
  padding: 8px ;
  h4 {
    padding-left: 8px ;
    padding-top: 8px ;
  }
  i {
    padding-right: 16px ;
    padding-top: 8px ;
    font-size: 24px;
  }
}

.task:hover {
    cursor: pointer;
    }

.task_top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.task_details {
  display: flex;
  flex-direction: row;

  align-items: center;
  text-align: center;
  margin-left: 8px;
  i {
    margin-left: 16px;
    margin-right: 4px;
  }
  p {
    margin-right:16px ;
    margin-top: 16px;
  }
}

.task_status {
  display: flex;
  flex-direction: row;
  p {
    padding: 8px;
    margin: 8px;
  }
  .status {

      border-radius: 6px;
      margin-left: 12px;
      color: white;
    }
  .priority {
    border-radius: 6px;
    margin-left: 12px;
    color: white;
  }
}

.low {
  background-color: #4CAF50;

}

.medium {
  background-color: #FFC107;

}

.high {
  background-color: #FF9800;

}

.urgent {
  background-color: #F44336;

}

.to-be-done {
  background-color: #9E9E9E;

}

.in-progress {
  background-color: #2196F3;

}

.completed {
  background-color: 	#4CAF50;

}

#btn {
  // padding: 16px;
  // background-color: #ED6A5A;
  max-height: 39px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size:18px ;
}


.modal-content {
  background-color: #D2D2D2;
}

.modal-header {
  background-color:#D2D2D2 ;
}

.modal-body {
  background-color:#D2D2D2 ;
  input {
    border-radius: 8px;
  }
  select {
    border-radius: 8px;
  }
  .btn {
    background-color: #ED6A5A;
  }
}

.modalfooter {
  background-color:#D2D2D2 ;
  border-radius: 8px;
  display: flex;
  justify-content: flex-end;
  input {
    padding: 8px;
    background-color: #ED6A5A;
    border-radius: 8px;
    margin: 8px;
  }
}

#updateTask {
  background-color: white;
  width: 100%;
  height: 100%;
}

#footerUpdate {
  background-color: white;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.text-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}


.home-container {
  overflow: hidden;
  height: 100%;
  position: relative;
  z-index: 1;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #153462 0%,
    #353535 50%,
    #ED6A5A 100%
  );
  color: white;font-family: sans-serif;
}

  .banner {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    align-items: center;
    p {
      color: white;
      font-size: 16px;
    }
  }

.home-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  .card {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    &:hover {
      transform: translateY(-1.5px) scale(1.02);
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12), 0 1.5px 4px rgba(0, 0, 0, 0.12);
    }
    a {
      border-radius: 8px ;
    }
  }
}

.btn-1 {
    background-color: #ED6A5A;
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }
.btn-2 {
    text-decoration: none;
    background-color: #153462;
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btn-3 {
  text-decoration: none;
    background-color: #353535;
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
