<div class="dashboard_nav">
  <h1>Good morning <%= @user_name %> ☀️</h1>
  <div class="dash_icons">
    <i class="bi bi-chat-left-dots"></i>
    <i class="bi bi-bell"></i>
     <div class="dropdown" style="display: inline;">
        <i class="bi bi-person-circle" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li><%= link_to "Profile", edit_user_registration_path, class: "dropdown-item" %></li>
          <li><%= link_to "Logout", destroy_user_session_path, class: "dropdown-item", data: { turbo: false } %></li>
        </ul>
      </div>
  </div>
</div>
